@model PizzaCategoriaView

<h1 class="text-center mt-5">Modifica la pizza</h1>
<div class="container">
    <form asp-controller="Pizza" asp-action="Update">

        @Html.AntiForgeryToken()
        <input asp-for="Pizza.Id" type="hidden" class="form-control">
        <div class="mb-3">
            <label>Inserire nome per la pizza:</label>
            <input asp-for="Pizza.Nome" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Nome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Inserire ingredienti per la pizza:</label>
            <input asp-for="Pizza.Descrizione" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Inserire prezzo per la pizza:</label>
            <input asp-for="Pizza.Prezzo" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Inserire immagine per la pizza:</label>
            <input asp-for="Pizza.Immagine" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Immagine" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Categoria:</label>
            <option value""></option>
            <select asp-for="Pizza.CategoriaId" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (Categoria categoria in Model.Categorie)
                {
                    <option value="@categoria.Id">@categoria.Nome</option>
                }

                <span asp-validation-for="Pizza.CategoriaId" class="text-danger"></span>
            </select>
        </div>

        <div class="d-grid justify-content-end">
             <button type = "submit" class="btn btn-primary btn-primary" formmethod="post">Aggiorna</button>
        </div>
    </form>
</div>
