
<script type="text/javascript">

    loadPizze();

    document.getElementById('input_search').addEventListener('keyup', searchPizze);


    function searchPizze() {
        let stringaDiRicerca = document.getElementById('input_search').value;
        debugger;
        loadPizze(stringaDiRicerca);
    }
    function loadPizze(searchString) {
        debugger;
        axios.get('/api/Pizze', { params: { search: searchString } })



            .then((res) => {

                console.log('risultato ok');
                console.log(res);

                if (res.data.length > 0) {
                    document.getElementById('contenitore_pizze').classList.remove('d-none');
                    document.getElementById('contenitore_no_pizze').classList.add('d-none');

                    document.getElementById('contenitore_pizze').innerHTML = '';

                    res.data.forEach(pizza => {

                        console.log('pizza: ', pizza);

                        document.getElementById('contenitore_pizze').innerHTML +=
                            `
                                <div class="col-5  d-flex align-items-stretch">
                                        <div class="card border-thicc-black rounded-3" style="width: 18rem;">
                                                    <img src="${pizza.immagine}" class="card-img-top border-thicc-red m-3" alt="Immagine">
                                            <div class="card-body">
                                                <h5 class="card-title">${pizza.nome}</h5>
                                                <p class="card-text">${pizza.prezzo} €</p>
                                            </div>
                                        </div>
                                    </div>
                                       
                                                                            `;
                    });

                } else {

                    document.getElementById('contenitore_no_pizze').classList.remove('d-none');
                    document.getElementById('contenitore_pizze').classList.add('d-none');


                }
            }).catch((error) => {
                console.log(error);
            });

    }

</script>
    }
